
# Numerical Python (NumPy)

In [ ]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

In [2]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

<br>
Or just pass in a list directly

In [3]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [4]:
#Datatype is a numpy.ndarray
type(y)

numpy.ndarray

<br>
Pass in a list of lists to create a multidimensional array.

In [6]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

Please note that this is a common error and an incorrect way to create arrays

In [25]:
example = np.array(2,3,4)

ValueError: only 2 non-keyword arguments accepted

In [26]:
example = np.array([(1,2,3),(4,5,6)], dtype=float)
example.dtype

dtype('float64')

## Numpy functions

<br>
`shape` method to find the dimensions of the array. (rows, columns)

In [8]:
m.shape

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [15]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

<br>
`reshape` returns an array with the same data with a new shape.

In [16]:
n = n.reshape(3, 5) # reshape array to be 3x5
print(n)
print(n.shape)

[[ 0  2  4  6  8]
 [10 12 14 16 18]
 [20 22 24 26 28]]
(3, 5)

`linspace` returns evenly spaced numbers over a specified interval.

In [18]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

`dtype` prints the data type of the elements

In [23]:
o.dtype

dtype('float64')

`resize` changes the shape and size of array in-place.

In [19]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

`ones` returns a new array of given shape and type, filled with ones.

In [21]:
np.ones((3, 2))

#Similar for zeros()

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

### Combining Arrays

In [29]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

Use `vstack` to stack arrays in sequence vertically (row wise).

In [28]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

Use `hstack` to stack arrays in sequence horizontally (column wise).

In [30]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [33]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]
[1 4 9]

Let's look at `transposing` arrays. Transposing permutes the dimensions of the array

In [36]:
z = np.array([y, y**2])
print(z)
#The shape of array `z` is `(2,3)` before transposing.
z.shape

[[ 4  5  6]
 [16 25 36]]

(2, 3)

Use `.T` to get the transpose

In [41]:
zt = z.T
print(zt)
zt.shape

[[ 4 16]
 [ 5 25]
 [ 6 36]]

(3, 2)

## Math functions

Numpy has many built in math functions that can be performed on arrays.

In [45]:
a = np.array([-4, -2, 1, 3, 5])

In [46]:
a.sum()
a.max()
a.min()
a.mean()
a.std()
#Etc..

3.2619012860600183

`argmax` and `argmin`return the <b>index</b> of the maximum and minimum values in the array.

In [47]:
print(a.argmax())
print(a.argmin())

4
0

## Indexing/Slicing

In [50]:
s = np.arange(13)**2
print(s)

[  0   1   4   9  16  25  36  49  64  81 100 121 144]

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [51]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [52]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

Use negatives to count from the back.

In [54]:
s[-4:]

array([ 81, 100, 121, 144], dtype=int32)

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [55]:
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

Let's look at a multidimensional array.

In [56]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

Use bracket notation to slice: `array[row, column]`

In [57]:
r[2, 2]

14

And use : to select a range of rows or columns

In [59]:
r[3, 3:6]

array([21, 22, 23])

This is a slice of the last row, and only every other element.

In [60]:
r[-1, ::2]

array([30, 32, 34])

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [61]:
r[r > 30]

array([31, 32, 33, 34, 35])

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [63]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [ ]:
s